[run]
omit =
    */__init__.py
    */main.py
    */config.py
    consumer-rabbit.py
    producer-rabbit.py
    consumer-kafka.py
    producer-kafka.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
